.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: #f9f7f2;
  border-radius: 16px;
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.03);
}

input, button {
  width: 100%;
  margin-top: 10px;
}

button {
  background-color: #d4af37;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #c5975a;
}
